// reset styles
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

ul li {
  list-style: none;
  list-style-type: none;
}
img {
  vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

// variables
$color-blue: #4066a5;
$color-black: #131821;
$color-gray: #6a707b;
$color-brightyellow: #e3e3e4;
$color-brightblue: #f2f5fa;

// mixins
@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin centredText {
  margin-left: 40px;
  max-width: 400px;
}

@mixin whiteBackground {
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
}

body {
  height: 100%;
  @include whiteBackground();
  background-image: url(/imgs/image_summer.jpg);
  background-position: left 690px bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-gray;
  font-family: Arial;
  font-style: normal;
}
// classes
.container {
  width: 763px;
  padding: 100px 0 100px 100px;
}

.header {
  margin-bottom: 227px;
  max-width: 480px;
}

.navigation {
  width: 100%;
  &__list {
    @include flexRow();
    justify-content: space-between;
  }
  &__item {
    font-family: Arial;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
  }
  &__item:not(:first-child) {
    padding-top: 15px;
  }
  &__logo {
    margin-right: 83px;
  }
  &__about {
  }
  &__hiw {
  }
  &__contact {
  }
}

.logo {
  &__short {
    display: none;
  }
}

.hero {
  margin-bottom: 50px;
  &__heading {
    @include centredText();
    color: $color-black;
    font-family: Georgia;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 15px;
  }
  &__description {
    @include centredText();
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  &__form {
  }
}
.form {
  &__field {
    @include flexRow();
    align-items: center;

    max-width: 663px;
    max-height: 70px;

    border: 1px solid #e3e3e4;

    padding: 23px 40px;
    margin-bottom: 54px;

    border-left: 4px solid $color-blue;

    background-color: white;
  }
  &__field:hover {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  }
  &__field:focus-within {
    border: 1px solid $color-blue;
    border-left: 4px solid $color-blue;
  }
  &__field:focus-within::before {
    content: "email";
    padding-right: 5px;
    color: $color-black;
  }
  &__field:focus-within path {
    opacity: 1;
    fill: $color-blue;
  }
  &__input {
    font-size: 16px;
    line-height: 24px;

    max-height: 24px;
    min-width: 227px;
    width: 100%;
  }
  &__input:focus::placeholder {
    color: transparent;
  }

  &__checkbox {
    position: absolute;
    appearance: none;

    width: 26px;
    height: 26px;
    background-image: url(/imgs/unchecked.svg);
    background-repeat: no-repeat;

    margin-left: 40px;
  }

  &__checkbox:checked {
    background-image: url(/imgs/checked.svg);
  }

  &__label {
    @include centredText();
    font-size: 16px;
    line-height: 28px;

    padding-left: 41px;
  }

  &__submit {
    background-color: white;
  }
}
.agreement__link {
  color: $color-black;
  text-decoration: underline;
}
.agreement__link:hover {
  color: $color-blue;
}
.agreement__link:focus {
  color: #233759;
}

.footer {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  margin-right: 223px;
  border-top: 1px solid #e3e3e4;
  &__socials {
    @include flexRow();
    justify-content: center;
  }
  &__social {
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover,
    :focus {
      // svg {
      //   box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
      // }
      path {
        fill: white;
        opacity: 1;
      }
    }
  }

  &__facebook {
    &:hover {
      svg {
        fill: #4267b2;
      }
      circle {
        stroke: #4267b2;
      }
    }
    &:focus {
      svg {
        fill: #2f4a80;
      }
      circle {
        stroke: #2f4a80;
      }
    }
  }

  &__instagram {
    &:hover {
      svg {
        fill: #c13584;
      }
      circle {
        stroke: #c13584;
      }
    }
    &:focus {
      svg {
        fill: #8f2762;
      }
      circle {
        stroke: #8f2762;
      }
    }
  }

  &__twitter {
    &:hover {
      svg {
        fill: #1da1f2;
      }
      circle {
        stroke: #1da1f2;
      }
    }
    &:focus {
      svg {
        fill: #177fbf;
      }
      circle {
        stroke: #177fbf;
      }
    }
  }

  &__youtube {
    &:hover {
      svg {
        fill: #ff0000;
      }
      circle {
        stroke: #ff0000;
      }
    }
    &:focus {
      svg {
        fill: #cc0000;
      }
      circle {
        stroke: #cc0000;
      }
    }
  }
}

@media (max-width: 1230px) {
  body {
    background-position: center bottom;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .inner-container {
    display: flex;
    height: calc(100vh - 66px);

    align-items: center;
  }

  .header {
    @include whiteBackground();
    max-width: 100%;
    margin: 0;
  }

  .navigation {
    &__list {
      align-items: stretch;
      padding: 10px 20px 8.5px;
    }

    &__item {
      margin-right: 0;
      flex-grow: 1;
    }

    &__logo {
      flex-grow: 3;
    }
  }

  .main {
    height: min-content;
    margin: 0 auto;
    // margin-top: calc(50% - 371px);

    @include whiteBackground();
    padding: 30px 20px;
  }

  .hero {
    &__heading {
      margin-left: 0;
    }
    &__description {
      margin-left: 0;
    }
  }

  .form {
    &__checkbox {
      margin-left: 0;
    }
    &__label {
      padding-left: 0;
    }
  }

  .footer {
    min-width: 295px;
    max-width: 100%;
    margin-right: auto;
    &__social:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@media (max-width: 520px) {
  .navigation {
    &__item {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .logo {
    &__full {
      display: none;
    }
    &__short {
      display: block;
    }
  }

  .main {
    width: auto;
    margin: auto 20px;
  }

  .hero {
    margin-bottom: 21px;
    &__heading {
      font-size: 14px;
      line-height: 24px;

      min-width: 295px;
      max-width: 100%;

      margin-bottom: 10px;
    }
    &__description {
      font-size: 14px;
      line-height: 26px;

      min-width: 295px;
      max-width: 100%;

      margin-bottom: 20px;
    }
  }
  .form {
    &__field {
      min-width: 295px;
      max-width: 100%;

      padding: 18px 15px;

      margin-bottom: 21px;
    }
    &__input {
      font-size: 16px;
      line-height: 24px;
    }

    &__label {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .footer {
    min-width: 295px;
    max-width: 100%;
    padding-top: 20px;
  }
}
